*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background: url('../images/handwriting1.jpg') no-repeat; 
    background-size: cover;
    background-position: center;
}