<!DOCTYPE html>
<html>
<head>
    <title>AlphaLearner Practice Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body background="image.png" id="background">
    <h1>AlphaLearner</h1>
    <div id="div1">
       <h1>Practice Mode</h1>
       <button id="practiceButton" onclick="location.href='practice.html';">Practice</button>

    </div>

    <div id="div1">
        <h1>Quiz Mode</h1>
         <button id="practiceButton">Take Quiz</button>
     </div>

     <div id="div1">
        <h1>Training Mode</h1>
        <br>
         <button id="practiceButton" >Train</button>
     </div>
</body>
</html>
