<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha-learners-home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    
</head>
<body>
    <nav>
        <div class="nav_header">
            <div class="nav_logo">
                <a href="#">Alpha<span>-learner</span></a>
            </div>
            <div class="nav_menu_btn" id="menu-btn">
                <span><i class="ri-menu-line"></i></span>
            </div>
        </div>
        <ul class="nav_links" id="nav-link">
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <div class="nav_btns">
            <a href="{{ url_for('signup') }}"><button class="btn_sign_up">Sign Up</button></a>
            <a href="{{ url_for('signin') }}"><button class="btn_sign_in">Sign In</button></a>
        </div>
    </nav>

    <script src="../static/js/main.js"></script>
</body>
</html>
