<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Mode</title>
    <link rel="stylesheet" href="static\css\practice.css">
</head>

<body style="background-color: rgb(241, 228, 211);">
    <h1>Practice Mode</h1>
    <canvas id="drawingCanvas" width="400" height="400" ></canvas>
    <div class="controls">
        <button id="checkAnswer">Check My Answer</button>
        <button id="clearCanvas">Clear</button>
    </div>
    <p class="message" id="message">Write a ""</p>

    <script src="static\js\script.js"></script>
</body>
</html>
