<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/signin.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div>
                <span class="heading">Welcome To Login Page</span>
            </div>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <form method="POST">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your Email" required><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your Password" required><br><br>
                <button type="submit">Sign In</button><br>
                <a href="{{ url_for('signup') }}">Sign Up</a>
            </form>
        </div>
        <div class="side-container">
            <span><h1>Alpha&nbsp;</h1></span>-<span><h1>&nbsp;&nbsp;</h1></span><span><h1>Learner</h1></span>
            <!-- <img src="./static/icon.png"> -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="./static/login.js"></script> -->
</body>
</html>

